{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
<p>Some Text. And more.</p>
<img src="assets/images/a11y.png" alt="meta http-equiv=\"refresh\" content=\"0; url=http://www.example.com/newpage\"" />
{{outlet}}
